* {
    background-color: rgb(196, 198, 204);
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   margin: 0 auto;
   margin-top: 10%;
}

input {
    width: 300px;
    height: 30px;
    margin: 5px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    color: black;
}

button {
    width: 80px;
    height: 80px;
    color: blue;
    background: rgb(111, 129, 143);
    font-size: 3rem;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.btn-l-r {
    margin-right: 2px;
}

.btn-eq {
    width: 162px;
    height: 80px;
}


button:hover {
    background: whitesmoke;
}

.main-container {
    padding: 10px;
    border: solid 5px grey;
    border-radius: 20px;
}

.container-display {
    width: 320px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid grey;
    background: rgb(112, 109, 109);
}

.container-calc {
    display: grid;
    width: 320px;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.container-calc-last-row {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}